<header class="header">
    <div class="header-container">
        <nav class="header-nav">
            <a class="header-project-logo" href="#index.html">LOGO PROJEKTU</a>
            <ul class="header_nav-list">
                <li>
                    <a class="header-link active" href="#index.html">START</a>
                </li>
                <li>
                    <a class="header-link" href="#houses.html">DOMY</a>
                </li>
                <li><a class="header-link" href="#location.html">LOKALIZACJA</a></li>
                <li><a class="header-link" href="#about-developer.html">O DEWELOPERZE</a></li>
                <li><a class="header-link" href="#gallery.html">GALERIA</a></li>
                <li><a class="header-link" href="#contact.html">KONTAKT</a></li>
            </ul>
            <a class="header-developer-logo" href="#about-developer.html">LOGO DEVELOPERA</a>
        </nav>
    </div>
</header>